*{
  box-sizing: border-box;
  margin: 15;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

section {
  padding: 10px;
}

.content-box {
  border: 2px solid black;
  background-color: #b6b6b6;
  height: 180px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.content-title {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
  top: -20px;
  right: 0;
  padding: 2.5px 10px 5px 10px;
  width: 200px;
}

.title-1{
  background-color: pink;
}
.title-2{
  background-color: red;
}
.title-3{
  background-color: green;
}

.content-text {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 30px;
  padding: 10px;
}

/* Desktop */
@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
    float: left;
    padding: 10px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
    float: left;
    padding: 10px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
    float: left;
    padding: 10px;
  }
}